Source: package
Section: X11
Priority: extra
Maintainer: ac12g11 <ac12g11@soton.ac.uk>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/package.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/package.git;a=summary

Package: package
Architecture: all
Depends: ${misc:Depends}
Description: simple debian Package
 This package is a task for INFO6005 and it gets rss feed and shows it to the users.
